<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans:wght@200&display=swap" rel="stylesheet">

    <title>Hayao Miyazaki</title>
</head>
<body>
    <header>
        <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="about">About</a></li>
              <li><a href="works">Works</a></li>
              <li><a href="photos">Photos</a></li>
            </ul>
        </nav>
        <h2>Works</h2>
    </header>
    <section>
        <article>
            <img src="/img/castleOfCagliostro.jpg" alt="">
            <h3>The Castle of Cagliostro (1979)</h3>
        </article>
        <article>
            <img src="/img/nausicaa.jpg" alt="">
            <h3>Nausicaä of the Valley of the Wind (1984)</h3>
        </article>
        <article>
            <img src="/img/castleInTheSky.jpg" alt="">
            <h3>Castle in the Sky (1986)</h3>
        </article>
        <article>
            <img src="/img/totoro.jpg" alt="">
            <h3>My Neighbor Totoro (1988)</h3>
        </article>
        <article>
            <img src="/img/kiki.jpg" alt="">
            <h3>Kiki's Delivery Service (1989)</h3>
        </article>
        <article>
            <img src="/img/porcoRosso.jpg" alt="">
            <h3>Porco Rosso (1992)</h3>
        </article>
        <article>
            <img src="/img/mononoke.jpg" alt="">
            <h3>Princess Mononoke (1997)</h3>
        </article>
        <article>
            <img src="/img/chihiro.jpg" alt="">
            <h3>Spirited Away (2001)</h3>
        </article>
        <article>
            <img src="/img/howl.jpg" alt="">
            <h3>Howl's Moving Castle (2004)</h3>
        </article>
        <article>
            <img src="/img/Ponyo.jpg" alt="">
            <h3>Ponyo (2008)</h3>
        </article>
        <article>
            <img src="/img/wind.jpg" alt="">
            <h3>The Wind Rises (2013)</h3>
        </article>
    </section>
</body>
</html>